html {
  scroll-behavior: smooth;
}

/*index.html homepage layout*/
.proj_container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  padding: 10px;
  width:100%;
  text-align: center;
  border-top: 3px solid black;
  /*border-radius: 25px;*/
}

.contact_cont{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  width:90%;
  text-align: center;
  border: 2px solid white;
  box-shadow:2px 2px white; 
  margin: 30px;
  padding: 5px;
  /*border-radius: 25px;*/
}

/*general body spec.*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #3c3c3c;
  color:white;
  width: 100%;
  overflow: auto;
  /*color:#513B3E;*/
  animation: fadepage ease 1s;
  animation-fill-mode: backwards;
  animation-iteration-count:1;

}

/*smooth animation loading of each page*/
@keyframes fadepage { 
  from{ 
      opacity: 0; 
  } 
  to{ 
      opacity: 1; 
  } 
} 

/*general header spec.*/
header{
  background: #3A5A5A;
  color: white;
  width: 100%;
  border-bottom: 1px solid black;
}

/*text formats*/
h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding: 0 30px;
}

/*index.html - parallax*/
.parallax {
  background-image: url("../images/home_parallax.jpeg");
  /* Full height */
  height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*link specifications*/

/*Skip to Main Content*/
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

a:link{
  color: white;
}

/*no border for links*/
a:active, a:focus {
  outline: 0;
  box-sizing: border-box;
  border: none;
  -moz-outline-style: none;
}

/*after clicked on, link appearence reverted back to original*/
a:visited { 
 text-decoration: none; 
 color: white; 
}

/*nav format*/
.nav_links{
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding:5px;
  margin-bottom: 10px;
}

/*individual nav link format*/
.nav_item a{
  color: white;
  text-decoration: none;
  margin:5px;
}

.nav_item a:hover, a:focus{
  color: #ff6161;   
  font-size: 1.5em;
  text-decoration: underline;
  -webkit-text-decoration-line: overline underline;
  text-decoration-style: solid;   
}

/*separates nav items*/
nav li{
  display:inline;
  padding-right:20px;
  padding-left: 20px;
}

/*when li is hovered, show linear gradient*/
nav ul li:hover{
  display: inline-block;
  background: linear-gradient(0.25turn, #363636, gray, #363636);
  border-radius: 5px;
  padding: 5px;
}

/*while clicking on link, background spec.*/
nav ul li a:active{
  display: inline-block;
  background: linear-gradient(135deg, black
 60%, white);
  border-radius: 5px;
  padding: 3px;
}

/*current class for different pages
when on li with current class, bigger and different gradient*/
.current{
  font-size: 1.5em;
  display: inline-block;
  background: linear-gradient(135deg, #363636, gray, #363636);
  border-radius: 5px;
  padding: 3px;
}

/*index.html self introduction box spec.*/
.self_intro{
    background-color: white;
    border: 2px solid black;
    padding: 15px;
    box-shadow:5px 5px black;
    margin: 15px 30px 15px 30px;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

/*centers the text inside the box*/
.self_intro p{
  color: black;
  text-align: center;
}

/*grid placement of contents*/
.gitem1{
  grid-row: 1fr; 
}

.gitem2{
  grid-row: 1fr; 
}

.gitem3{
  grid-row:1fr; 
}

.gitem4{
  grid-row:1fr; 
}

/*placement of logo in center using FLEX*/
#logo{
  display: flex;
  justify-content: center;
}

/*PROJECTS link placement using FLEX and spec.*/
.clicked{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*sets scaled size for project images*/
.coursebot_image img, .music_project_image img{
  width: 500px;
  height: auto;
}

/*photo_gallery.html - page photo specs*/
.gallery_image{
  width: 350px;
  height: auto;
  margin: 50px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  opacity: 0.65;

}

.column > img:hover{
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  transform: scale(1.15);
  -ms-transform: scale(1.15); 
  -webkit-transform: scale(1.15);
  filter: drop-shadow(8px 8px black);
  opacity: 1;
}
/*
.gallery_image:nth-child(odd){
  border: 2px solid black;
}
*/

/*photo display using FLEX*/
.row {
  display: flex;
  flex-flow: row wrap;    
  justify-content: center;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 1fr 1fr 1fr;

}

/*photo_gallery.html - alignment and space around images*/
.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*footer spec.*/
footer{
  background-color: #3A5A5A;
  color: white;
  padding: 30px;
  text-align: center;
  border-top: 1px solid black;
}


/* about.html spec.*/


/*FLIPCARD SPEC BELOW*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #e3e3e3;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  font-size: 20px;
  transform: rotateY(180deg);
  line-height: 50px;
}
/*END OF FLIP CARD SPEC.*/

/*resume button*/
.button{
  margin-top: 10px;
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  background-color: #3A5A5A;
}


/*Who Am I? Text spec.*/
.about{
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  margin-top: 30px;
  border-top: 1px solid black;
}

.about h2, .about p{
  text-align: center;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  border-radius: 3px; 
  box-sizing: border-box;  
  padding: 12px; 
  border: 1px solid #ccc; 
  margin-bottom: 16px;
  margin-top: 6px; 
  resize: vertical 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #5c7970;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.footer_social a{
  color:white;
}

/*different screen size spec*/
@media screen and (min-width: 850px){



}

/*reduced motion query*/
@media (prefers-reduced-motion) {
  body{
    animation:none;
  }
  html{
    scroll-behavior: auto;
  }
}